{{#koenig-card
    icon="koenig/selfstudy-card-section-indicator"
    class=(concat (kg-style "container-card") " miw-100 relative")
    isSelected=isSelected
    isEditing=isEditing
    toolbar=toolbar
    hasEditMode=false
    selectCard=(action selectCard)
    deselectCard=(action deselectCard)
    editCard=(action editCard)
    editor=editor
}}
    {{#if (or isEditing isSelected)}}
        <div class="miw-100 flex flex-row pa2 pl3 br2 f7 fw4 lh-title items-center content">
            <form class="w-100">
                <div class="form-group">
                    <label>Some Value</label>
                    <input
                        type="text"
                        value={{payload.text}}
                        name="text"
                        autofocus="autofocus"
                        placeholder="Enter some text..."
                        class="miw-100 pa2 ba br2 b--lightgrey-d2 f7 form-text lh-title tracked-2 h10"
                        oninput={{action "updateText"}}
                        onfocus={{action "focusItem"}}
                        onkeydown={{action "updateTextKeydown"}}>
                </div>
                <div>
                    {{koenig-editor
                        mobiledoc=payload.mobiledoc
                        placeholder=bodyPlaceholder
                        autofocus=bodyAutofocus
                        spellcheck=true
                        onChange=(action "onBodyChange")
                        didCreateEditor=(action "onEditorCreated")
                        cursorDidExitAtTop=(action "focusTitle")
                        wordCountDidChange=(action "onWordCountChange")
                        headerOffset=0
                        dropTargetSelector=".gh-koenig-editor-pane"
                        scrollContainerSelector=".gh-koenig-editor"
                        scrollOffsetTopSelector=".gh-editor-header-small"
                        scrollOffsetBottomSelector=".gh-mobile-nav-bar"
                    }}
                </div>
            </form>
        </div>
    {{else}}
        <div class="miw-100 pa2 bt br2 b--lightgrey-d1 flex items-center justify-center bg-whitegrey-l2 f6 lh-title h10">
            {{payload.text}}
        </div>
        <div class="miw-100 flex-row">
            {{selfstudy-render-mobiledoc mobiledoc=payload.mobiledoc}}
        </div>
    {{/if}}
{{/koenig-card}}